

<div class="container">

    <table class="table table-bordered table-striped">

        <tr style="background: cornflowerblue">
            <th>Full Name</th>
            <td colspan="5">$#$FullName$#$</td>
            <td rowspan="3"> <img src='ProfilePictures/$#$ProfilePicture$#$' width="200px" height="200px">  </td>
        </tr>

        <tr style="background: cornflowerblue">
            <th>Hobbies</th>
            <td colspan="5">$#$Hobbies$#$</td>
        </tr>




        <tr style="background: cornflowerblue">
            <th>Home District</th>
            <td colspan="5">$#$HomeDistrict$#$</td>
        </tr>



        <tr>

            <th>Roll</th>
            <td>$#$Roll$#$</td>

            <th>Gender</th>
            <td>$#$Gender$#$</td>

            <th>Date of Birth</th>
            <td>$#$DOB$#$</td>
           <th style="text-align: center">Remarks</th>

        </tr>

        <tr>
            <th>Bangla Mark</th>
            <td>$#$BanglaMark$#$</td>

            <th>English Mark</th>
            <td>$#$EnglishMark$#$</td>

            <th>Math Mark</th>
            <td>$#$MathMark$#$</td>
            <td rowspan="2" style="text-align: center">$#$Remark$#$</td>
        </tr>

        <tr>
            <th>Bangla Grade</th>
            <td>$#$BanglaGrade$#$</td>

            <th>English Grade</th>
            <td>$#$EnglishGrade$#$</td>

            <th>Math Grade</th>
            <td>$#$MathGrade$#$</td>
        </tr>

    </table>

</div>
