

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

body{
	margin: 0;
	padding : 0;
	font-size: 16px;
	color: #312A2A;
	font-family: 'Roboto', sans-serif;
}
.logo{
float: left;
}
#header-area
{
 overflow :hidden;
}
.main-manu{
	float: right;
}
.main-manu ul{
   margin: 0;
   padding: 0;
   list-style: none;
}
.main-manu nav ul li{
float: left;
}


.main-manu ul li a{

}
.logo a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: blue;
}





