.container{
    margin-top: 10px;
    background: rgba(98, 233, 119, 0.5);
    height: 500px;
    text-align: center;

}


#Middle{
    height: 300px;
    margin-top: 10px;
    background: rgba(150, 200, 233, 0.5);


}

#ChatHistory{
    width: 70%;
    display: inline-block;
    padding-left: 10px;
    background: rgba(233, 198, 108, 0.5);
    height: 300px;
}

#ChatterList{
    width: 28%;
    display: inline-block;
    padding-left: 10px;
    background: rgba(233, 32, 228, 0.5);
    height: 300px;
}





#Footer{
    background: rgba(95, 255, 205, 0.5);
    padding: 10px;
}

#Header{
    background: rgba(203, 150, 255, 0.5);
    padding: 10px;
}

#ChatWindow{

    height: 400px;
}

#LoginWindow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

#LoginBox{

    display: flex;
    align-items: center;
    justify-content: center;



    width: 40%;
    background: rgba(91, 82, 125, 0.5);
    padding: 10px;
}