
.logo a span{
	color: #00b0dc;
}
.navbar{
	float: right;
}
.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	float: left;
}
.navbar ul li a{
	text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #888888;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
}
.navbar ul li a:hover {
	color: #00b0dc;
}
.navbar ul li.active a{
	color: #00b0dc;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');




body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #888888;
	margin: 0;
	padding: 0;
}

#header-area{
	background: #F1F1F1;
    overflow: hidden;
    padding: 20px 30px;
}
.logo{
	float: left;
}
.logo a {
	font-size: 30px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
}

.logo a span{
	color: #00b0dc;
}
.navbar{
	float: right;
}
.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	float: left;
}
.navbar ul li a{
	text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #2B3D6B;
    font-weight: bold;
    display: block;
    text-transform: uppercase;

}
.navbar ul li a:hover {
	color: #6F6DF3;
}
.navbar ul li.active a{
	color: #6F6DF3;
}

#banner-area{
	background-image: url(images/hlo.jpg);
    height: 550px;
    width: 100%;
    background-size: cover;
    position: relative;
}