*
{
    margin: 0px;
    padding: 0px;
}


#front{
width: auto;
}
.contain2{
    background-color:white;
    top: 100px;
    width: 1000px;
   height: 50px;

}
.button {
    background-color:teal;
    width: 150px;
    height: 70px;
    border: blue;
    border-radius: 12px;
    font-size: 24px;


}
.button:hover{
    color: white;
    background-color: 191970;
}

.img{

    width: 630px;
    border-radius: 5%;
    height:300px;

}
.slider {
    margin-top: 40px;
}

.container {
    padding: 0%;
    background-color: #E81D1D ;

}