/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.log1{
 margin-right: auto;
  margin-left: auto;
  margin-top: 100px;

  width: 30%;
  border: 3px solid black;
  padding: 10px;
  align-items: center;

}



/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}




}