*{
	margin: 0px;
	padding: 0px:;
}

 body{
 	background-color: #1D90E8 ;
 }




#logo{
	margin: 10px;
	float: left;

}
.header-nav li {
	display: inline;
	text-transform: uppercase;
	font-family: Agency FB;
}
.header-nav{
	float: right;
	margin-top: 8px;
}


a{
	text-decoration: none;;
	color: #EDF4FA;
	padding-left: 30px ;
}
#header{
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 40px;
	background: #18181e ;
	color: #fff 

}