/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Header Section Start*/
.header_home{
	
}
.headsection {
  background: #E1E1E1 none repeat scroll 0 0;
  max-height: 70px;
  opacity:0.8;
}
.container_modified{
	
}
.navbar-default-modified{
	background-color: #E1E1E1 !important;
	margin-right: -120px!important;
}
.logo{
	float:left;
}

.btn_danger_modified{
	margin-right:5px;
}

/*Modal Part Start*/
body{
    padding: 50px;
}
.modal-modified{
	margin-left: 472px !important;
}
.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

.modal-dialog-modified{
	background-color:#A9A9A9!important;
}
.colour_modified{
	color:#A90E12;
}
.btn-primary-modified{
	    background-color: #3276B1!important;
}
.input-group-addon-modified:last-child{
	    background-color:#3276B1!important;
}

/*Modal modified*/
.btn-success-modified{
	color: #fff !important;
    background-color: #A12623 !important;
    border-color: #A12623 !important;
}



/** MOdal **/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
	left: -472px;
    top: 0;
    width: 1367px; /* Full width */
    height: 690px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #9C5B59;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*Modal Part End*/

.my_class{
	    margin-left: -100px;!important;
}
.logo img{
	height:45px;
	width:45px;
}
.title{
	color:#fff;
	float:left;
	
	}
.title span{
	font-weight:bold;
}
.title h2 {
  font-size: 40px;
  margin: 0 0 0 20px;
  color:red;
}

/*Header Section End*/

/*main Part Start*/



/*Main Part End*/
   
   
   

   
  
   
   
   
   
 /*Member registration Part Start*/

body {
    margin: 0px;
    font: normal 11px Arial, Helvetica, Tahoma;
    color: #000000;
    line-height: 23px;
    text-decoration: none;
    text-align: center;
}
#login_part {
	width:960px;
	background:#FFF;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	height:auto;
}
ul {
	text-align:left;
	margin:0px;
	padding:0px;
}
ul li{
	list-style:none;
	display:block;
}
p {
	padding:7px 0px;
	text-align:justify;
	line-height:16px;
	margin:0px;
}
a {
	outline:none;
	text-decoration:none;
}
.boxtexting {
	border: 1px solid #B3B3B3;
	font: normal 11px Arial, Helvetica, Tahoma; 
	color:#272626;
	margin-top: 14px;
	height: 27px;
}
.left {
	float:left;
}

.border_part{   /*new*/
	width:960px;
	border:1px solid #D7D7D7;
	border-top:0px;
	border-bottom:0px;
	background-color: darkgray;
}
.image_style1{  /*new*/
	width:960px;
	height:50px;
}
.para_style1{
	padding-top:10px;
	text-align:center;
}
.right{
	float:right;
}

.boldtxt {
    font-weight: bold;
    font-size: 22px;
    color: #A90E12;
}
.headtxt {
font: normal 18px Georgia, Arial, Helvetica, Tahoma;
    color: #A90E12;
    margin-right: 40px;
    font-size: 36px;
 }
 
 .image_style2{ /*new*/
	 
	 width:561px; 
	 background: url(../images/member_registration/div-sp-leftbg.gif) no-repeat top left;
 }
 .image_style3{  /*new*/
	  width:561px; 
	  background: url(../images/member_registration/div-sp-rightbg.gif) no-repeat top right;
 }
 
 
.headtxt1 {
	font: bold 13px Georgia, Arial, Helvetica, Tahoma;
	color: #007A00;
}
.subheadtxt {
	font: normal 14px Arial, Helvetica, Tahoma;
	color: #565656; font-weight:bold;
}
.popclr {
	color:#279A3F
}
.smalltexting {
	font-size:10px;
}
.bigtxt {
	font-size:12px;
}
.bigtxt1 {
	font-size:13px;
}
.linktxt {
	color:#B70407;
	text-decoration:none;
	outline:none;
}
.nlinktxt {
	color:#AAAAAA;
	text-decoration:none;
	outline:none;
}
.footerclr {
	color:#6A6A6A;
	text-decoration:none;
	outline:none;
}
.formclr {
	color:#FE2900;
}
.dotline {
	background: url(../images/member_registration/dotline.gif) repeat-x;
	height:1px;
	margin-bottom:1px;
}
.vdotline {
	background: url(../images/member_registration/vdotline.gif) repeat-y;
	width:1px;
	margin-bottom:1px;
}

.searchbg {
	background: url(../images/member_registration/search-bg.gif) repeat-x;
	padding:20px 20px 0px 20px;
}
.searchborder{
	border: 1px solid #F6E0E0;
}
ul.list li{
	width:110px;
	padding-bottom: 5px;
}

ul#drop {
	text-align:left;
	margin:0px;
	padding:0px;
}
ul#drop li{
	list-style:none;
	display:block;padding: 4px 0px 0px 15px ;
	background: url(../images/member_registration/search-drop-icon.gif) no-repeat top left;
	margin:0px;
}

ul#menu {
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	display:block;
	background: url(../images/member_registration/menu-bg.gif) repeat-x;
	width:775px;
	height:24px;
}
ul#menu li{
	display:block;
	float:left;
	margin:0;
}
ul#menu li.first{
	background: url(../images/member_registration/menu-border.gif) no-repeat top right;
	padding:0px;
	height:24px;
	width:35px;
}
#menu li a{ 
	display:block;
	padding: 4px 15px 4px 15px; 
	background: url(../images/member_registration/menu-border.gif) no-repeat top right; 
	text-decoration: none;
	font: normal 13px arial;
	color:#ffffff;
}
#menu li a:hover{
	display:block;
	padding: 4px 15px 4px 15px;
	background: #B70407 url(../images/member_registration/menu-hover-border.gif) no-repeat top right;
	text-decoration: none;
	font: normal 13px arial;
	color:#ffffff;
}

#selected{
	display:block;
	padding: 0px 0px 0px 0px;
	background: #B70407 url(../images/member_registration/menu-hover-border.gif) no-repeat top right;
	text-decoration: none;
	font: normal 13px arial;
	color:#ffffff;
}


.clear{
	clear:both;
}
#form span {
	line-height:18px;
}


.button_modified{
	margin-right:400px;
	margin-top:10px;
}
.btn_modified{
	color: #A9A9A9!important;
    font-size: 18px!important;
}
 
 /*Member registration Part End*/  
   
   
   
   
   
   
 /*Information Part Start*/
/*রক্ত দানের অভিজ্ঞতা  শুরু*/
.informationsection{
	padding:75px 0;
	margin-top:10px;
}

.information{
	border:5px solid #FFFFFF;
	margin-left: 75px;
}


/*For jquerui*/
.accordion{
		height:300px;
		width:278px;
		margin-right:184px;

	}
	
.h1_style{
	text-align:center;
	color:#a90e12;
	font-size:3em;
}
.h1_style1 {
    text-align: center;
    color: #a90e12;
    font-size: 3em;
    margin-top: 110px;
}
.head_style{
	font-family:arial;
	color:red;
	margin-top:30px;
	margin-bottom:30px;
}
.p_style{
    line-height: 27px;
    text-align: justify;
    font-size: 18px;

}
/*রক্ত দানের অভিজ্ঞতা  শেষ*/

/*Information Part End*/  
   
   
   
/*<!--Why Donate Blood Part Start-->*/
.heading_style{
	margin-top:55px;
	text-align:center;
	color:#E80A17;
}



/*<!--Why Donate Blood Part End-->*/
   
   
   
   
   


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

