*
{
    margin: 0px;
    padding: 0px;
}


#front{
width: auto;
}
.contain2{
    background-color:white;
    top: 100px;
    width: 1000px;
   height: 50px;

}
.button {
    background-color:wheat;
    width: 100px;
    height: 40px;
    border: greenyellow;
    border-radius: 12px;


}
.button:hover{
    color: brown;
    background-color: #c9e2b3;
}

.img{

    width: 630px;
    border-radius: 5%;
    height:300px;

}
.slider {
    margin-top: 40px;
}

.container {
    padding: 0%;
}